<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Styles.css">
    <title>Layout</title>
</head>
<body>
    <main class="caja-main">
        <header>
            <p class="tituloprincipal">ZAFARY</p>
        </header>
        <section class="cont2">
            <div class="titulo2">
                <H1 class="texto" id="Home"><i class="fas fa-home"></i> Home</H1>
            </div>
            <div class="titulo2">
                <H1 class="texto" id="Whatzapp"><i class="fab fa-whatsapp"></i> WhatzApp</H1>
            </div>
            <div class="titulo2">
                <H1 class="texto" id="Zpotify"><i class="fab fa-spotify"></i> Zpotify</H1>
            </div>
        </section>
       <section class="window">
            <iframe class="pos2" id="dinamico" src="" frameborder="0"></iframe>
        </section>
        <script src="https://kit.fontawesome.com/d3d4711ed2.js" crossorigin="anonymous"></script>
        <script src="./index.js"></script>        
        
    </main>
</body>
</html>